@model TraceModel
@{
    ViewData["Title"] = "Home Page v3";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Whoa! This is a web app with ASP.NET Core.</p>
    <p>The APIURL is: <span class="@ViewData["sev"]">@ViewData["apiurl"]</span></p>
    <p>Response from API: <span class="@ViewData["response_sev"]">@ViewData["response_msg"]</span></p>
</div>

<div class="container">
    <h4>AppSettings/Env variables - To override, set them as env variables or as cmd arguments</h4>
    <div class="container">
        <div class="row">
            <div class="col">@Html.Label("Elasticsearch formatting enabled?")</div>
            <div class="col">@ViewData["Env:LOG_ELASTICFORMAT"]</div>
            <div class="w-100"></div>
            <div class="col">@Html.Label("TRY_SOMECONFIGKEY:")</div>
            <div class="col">@ViewData["Env:TRY_SOMECONFIGKEY"]</div>
            <div class="w-100"></div>
            <div class="col">@Html.Label("TRY_OTHERCONFIGKEY:")</div>
            <div class="col">@ViewData["Env:TRY_OTHERCONFIGKEY"]</div>
            <div class="w-100"></div>
            <div class="col">@Html.Label("TRY_THIRDKEY:")</div>
            <div class="col">@ViewData["Env:TRY_THIRDKEY"]</div>
        </div>
    </div>
</div>

@using (Html.BeginForm("WriteTrace", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Create some trace output</h4>

        <div class="form-group">
            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Level, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Level,
                    new SelectList(Enum.GetValues(typeof(Microsoft.Extensions.Logging.LogLevel))), htmlAttributes: new { @class = "form-control" }
                    )
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Write!" class="btn btn-default" />
            </div>
        </div>
    </div>
}